<div class="bg-contact3" style="background-image: url('/assets/images/bg-01.jpg');">
  <div class="container-contact3">
    <div class="wrap-contact3">
      <form class="contact3-form validate-form" method="post">
                                <span class="contact3-form-title">
                                Add new Contact
                                </span>
        <div class="wrap-input3 validate-input" data-validate="Down Payment is required">
          <span class="input3">Contact Name :</span>
          <input class="input3" type="text" name="name">
          <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input" data-validate="Valid date is required: yyyy-mm-dd">
          <span class="input3">Start Date :</span>
          <input class="input3" type="date" name="startDate1">
          <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input" data-validate="Valid date is required: yyyy-mm-dd">
          <span class="input3">End Date : </span>
          <input class="input3" type="date" name="endDate1">
          <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input" data-validate="Down Payment is required">
          <span class="input3">Down Payment : </span>
          <input class="input3" type="text" name="downPayment">
          <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input" data-validate="Address is not required">
          <span class="input3">Total Money :</span>
          <input class="input3" type="text" name="total">
          <span class="focus-input3"></span>
        </div>

        <div class="wrap-input3 validate-input"
             data-validate="Valid phone is required: XXXXXXXXXX(X is 0-9)">
          <p class="input3">Customer :</p>
          <select class="input3">
          </select>
        </div>
        <div class="wrap-input3 validate-input"
             data-validate="Valid phone is required: XXXXXXXXXX(X is 0-9)">
          <p class="input3">Employee :</p>
          <select class="input3">

          </select>
        </div>
        <div class="wrap-input3 validate-input"
             data-validate="Valid phone is required: XXXXXXXXXX(X is 0-9)">
          <p class="input3">Service :</p>
          <select class="input3">
          </select>
        </div>
        <div class="container-contact3-form-btn">
          <button class="contact3-form-btn">
            Submit
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
